<%- include('../partials/header') %>
    <div class="container">
        <h1>Lista de Pessoas</h1>
        <div class="d-flex">
            <div class="col-12 col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Cargo</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% pessoas.map(pessoa => { %>
                                <tr>
                                    <td><%= pessoa.nome %></td>
                                    <td><%= pessoa.cargo %></td>
                                    <td >
                                        <div class="btn-group">
                                            <a class="btn btn-outline-secondary" href="/pessoas/edit/<%= pessoa.id %>">Editar</a>
                                            <a class="btn btn-danger" href="/pessoas/delete/<%= pessoa.id %>">Excluir</a>
                                        </div>
                                    </td>
                                </tr>
                            <% }) %>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>